<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <header>
    <%- include('./partials/header') %>
  </header>
  
  <style>
  .parallax {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    background-image: url("/images/aai.jpg");
    margin-top: -100px;
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>


  <div class="parallax" style="padding-left:20px">
    <div style="height: 90px;"></div>
    <div class="content-panel">
      <div class="row">
        <div class="column">
          <img src="/images/allianceLogo.png" alt="Alliance Logo"
            style="display: block; margin-left: auto; margin-right: auto; width: 300px;">
          <h1 class="title"
            style="padding: 10px 20px; background-color: white; text-align: center; margin-top: 50px; display: inline-block; position: relative; top: 50px; left: 50%; transform: translateX(-50%); font-size: 36px; border-radius: 10px;">
            Start Your Journey</h1>
        </div>
        <div class="column"></div>
      </div>
      <div class="row">
        <div class="column">
          <div class="card5">
            <div class="card3">
              <div class="col d-flex justify-content-center">
                <form name="signUp" method="post" onsubmit="return validateForm()" action="/users">
                  <h2>
                    <%= usertype %> Sign Up
                  </h2>
                  <input hidden name="userType" value=<%=usertype %> >
                  <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text" placeholder="First Name" name="fname" maxlength="20"
                      required>
                  </div>
                  <div class="input-container">
                    <i class="fa fa-envelope icon"></i>
                    <input class="input-field" type="text" placeholder="Last Name" name="lname" maxlength="20" required>
                  </div>
                  <div class="input-container">
                    <i class="fa fa-id-badge icon"></i>
                    <% if(usertype==="Student" ) { %>
                      <input class="input-field" type="text" placeholder="Student ID" name="StudentID" required>
                      <% } %>

                        <% if(usertype==="Employer" ) { %>
                          <input class="input-field" type="text" placeholder="Company Name" name="StudentID" required>
                          <% } %>

                  </div>
                  <div class="input-container">
                    <i class="fa fa-envelope icon"></i>
                    <input class="input-field" type="email" placeholder="Email" name="email" maxlength="50" required>
                  </div>
                  <div class="input-container">
                    <i class="fa fa-handshake-o icon"></i>
                    <input class="input-field" type="password" placeholder="Password" name="Password" minlength="8"
                      maxlength="12" required>
                  </div>

              </div>
              <button type="submit" class="btn">Sign Up</button>
              </form>
              <p></p>
              <form>

              </form>
              <div style="height: 30px;"></div>
              <h3>
                Already have an account?

              </h3>
              <a class="btn" href="/signin">Log In </a>

            </div>
          </div>
          <div style="height: 90px;"></div>
        </div>
      </div>
    </div>

  </div>

  </div>
  <footer>
    <%- include('./partials/footer') %>
  </footer>
</body>